<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css" rel="stylesheet" integrity="sha384-RpX8okQqCyUNG7PlOYNybyJXYTtGQH+7rIKiVvg1DLg6jahLEk47VvpUyS+E2/uJ" crossorigin="anonymous">
        <link href="/styles/main.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">YelpCamp</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/register">Sign Up</a></li>
                  <li><a href="/login">Log In</a></li>
                  <li><a href="/logout">Log Out</a></li>
                </ul>
            </div>
          </div>
        </nav>
        <div class="container">
