<h1>Movie Titles</h1>

<% result.Search.forEach(function(movie){ %>
    <ul>
        <li>
            <%= movie.Title %> - <%= movie.Year %> - <%= movie.Type %>
        </li>
    </ul>
<% }); %>

<a href="/">Back to Search again!</a>

