<!DOCTYPE html>
<html>
    <head>
        <title>RESTful BlogApp</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet">
        <link href="styles/app.css" rel="stylesheet">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item">
                    <i class="wechat icon"></i>
                    RESTful BlogApp
                </div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>
        <div class="ui container">