<% include partials/header %>

<h1>Campgrounds Page</h1>

<% campgrounds.forEach(function(campground){ %>
                
        <div>
            <h3><%= campground.name %></h3>
            <img src="<%= campground.image %>">
        </div>
        
<% }); %>  

<a href="/">Back to Lnding Page!</a>

<% include partials/footer %>