<% include partials/header %>

<header class="jumbotron">
    <h1>Welcome To YelpCamp!</h1>
    <p>View our hand-picked campgrounds from all over the world</p>
    <p>
        <a class="btn btn-info "href="/campgrounds/new">Add New CampGround!</a>
    </p>
</header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% campgrounds.forEach(function(campground){ %>
                    
            <div class="col-md-3 col-sm-6">
                
                <dv class="thumbnail">
                    <img src="<%= campground.image %>">
                </dv>
                <dv class="caption">
                    <h4><%= campground.name %></h4>
                </dv>
                <a class="btn btn-default" href="/campgrounds/<%= campground._id %>">Info</a>
            </div>
            
    <% }); %>  

</div>
<div class="container">
    <a class="btn btn-info "href="/">Back to Lnding Page!</a>
</div>

<% include partials/footer %>