<% include partials/header %>

<h1>Add New Campground</h1>

<form action="/campgrounds" method="post">
    
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="image" placeholder="Image URL">
    <button class="btn btn-primary">Add Campground!</button>
    
</form>


<% include partials/footer %>