<% include partials/header %>

<h1><%= campinfo.name %></h1>

<img src="<%= campinfo.image %>">

<p><%= campinfo.info %></p>

<a class="btn btn-info "href="/campgrounds">Back to Index Page!</a>

<% include partials/footer %>