<!DOCTYPE html>
<html>
    <head>
        <title>NoteMaster</title>
        <!--<script type="text/javascript" src="https://unpkg.com/vue"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-zF4BRsG/fLiTGfR9QL82DrilZxrwgY/+du4p/c7J72zZj+FLYq4zY00RylP9ZjiT" crossorigin="anonymous">
    </head>
    <body>
        <div class="container text-center" id="app">
               <h3>{{title}}</h3>
            <div class="container">
                <div class="form-group">
                    <label for="title">Note Title</label>
                    <input class="form-control" type="text" v-model="note.title"/>
                </div>
                <div class="form-group">
                    <label for="text">Note Text</label>
                    <textarea class="form-control" v-model="note.text"></textarea>
                </div>
                 <button class="btn btn-primary" @click="addNotes">Submit</button>
            </div>   
        </div>
        
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    
                   title: "NoteMaster App",
                   
                   note: {
                       title: '',
                       text: ''
                   },
                   
                   notes: [
                            {
                               title: "Go to Cox's Bazaar.",
                               text: "I love the sea beach to spend my vacation.",
                               date: new Date(Date.now()).toLocaleString()
                            }
                        ]
                },
                methods: {
                   addNotes: function() {
                      
                          let { title, text } = this.note
                          this.notes.push({ title, text, date: new Date(Date.now()).toLocaleString() })
                       }
                    }
                })
        </script>
    </body>
</html>