<!DOCTYPE html>
<html>
    <head>
        <title>NoteMaster</title>
        <!--<script type="text/javascript" src="https://unpkg.com/vue"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-zF4BRsG/fLiTGfR9QL82DrilZxrwgY/+du4p/c7J72zZj+FLYq4zY00RylP9ZjiT" crossorigin="anonymous">
    </head>
    <body>
        <div class="container" id="app">
            <div class="container">
                 <h3>{{title}}</h3>
                <div class="form-group">
                    <label for="title">Note Title</label>
                    <input class="form-control" type="text" v-model="note.title"/>
                </div>
                <div class="form-group">
                    <label for="text">Note Text</label>
                    <textarea class="form-control" v-model="note.text"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" @click="addNotes">Submit</button>
                </div>
            </div>   
            <div class="row">
                <div class="container col-md-4"  v-for="(note, index) in notes">
                    <div class="list-group">
                   
                      <a href="#" class="list-group-item active">
                       Title: {{note.title}}
                      <button class="btn btn-xs btn-danger pull-right" @click="delNotes(index)">&times;</button>
                      </a>
                      <a href="#" class="list-group-item">Note: {{note.text}}</a>
                      <a href="#" class="list-group-item">Time: {{note.date}}</a>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    
                   title: "NoteMaster App",
                   
                   note: {
                       title: '',
                       text: ''
                   },
                   
                   notes: [
                            {
                               title: "Go to Cox's Bazaar.",
                               text: "I love the sea beach to spend my vacation.",
                               date: new Date(Date.now()).toLocaleString()
                            }
                        ]
                },
                methods: {
                   addNotes: function() {
                      
                          let { title, text } = this.note
                          this.notes.push({ title, text, date: new Date(Date.now()).toLocaleString() })
                       },
                       
                    delNotes: function(index) {
                      
                          this.notes.splice(index, 1)
                       }
                    }
                })
        </script>
    </body>
</html>